<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BalaGsm</display-name>
  <welcome-file-list>
    <welcome-file>front.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salaryregister</display-name>
    <servlet-name>Salaryregister</servlet-name>
    <servlet-class>com.controller.Salaryregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salaryregister</servlet-name>
    <url-pattern>/Salaryregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salary_Download</display-name>
    <servlet-name>Salary_Download</servlet-name>
    <servlet-class>com.controller.Salary_Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salary_Download</servlet-name>
    <url-pattern>/Salary_Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.controller.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMember</display-name>
    <servlet-name>SearchMember</servlet-name>
    <servlet-class>com.controller.SearchMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMember</servlet-name>
    <url-pattern>/SearchMember</url-pattern>
  </servlet-mapping>
</web-app>